/*
Front-end Style Guide

Layout
- Mobile: 375px
- Desktop: 1440px

Colors
Primary
- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

Neutral
- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

Typography
- Font size: 15px

Fonts
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600 

*/
:root {
  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);
  --neutral-color-dark-blue: hsl(234, 12%, 34%);
  --neutral-color-grayish-blue: hsl(229, 6%, 66%);
  --neutral-color-light-grey: hsl(0, 0%, 98%);
  --font-size-small: 14px;
  --font-size: 15px;
  --font-size-medium: 18px;
  --font-size-large: 30px;
  --font-family: 'Poppins', sans-serif;
  --font-weight-1: 200;
  --font-weight-2: 400;
  --font-weight-3: 600; }

.heading-1 {
  font-weight: var(--font-weight-1);
  color: var(--neutral-color-dark-blue);
  font-size: var(--font-size-large); }
  .heading-1-heavy {
    font-weight: var(--font-weight-3); }
    .heading-1-heavy-small {
      font-size: var(--font-size-medium); }

.heading-2 {
  font-weight: var(--font-weight-1);
  color: var(--neutral-color-grayish-blue);
  font-size: var(--font-size); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-3);
  line-height: 1.5;
  margin: 5rem; }

header {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem; }

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center; }

.card {
  display: flex;
  flex-direction: column;
  width: 35rem;
  padding: 3rem 5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 20px var(--neutral-color-grayish-blue);
  border-top: 3px solid var(--primary-color-orange);
  font-size: 1.5rem;
  grid-row: 2/3; }
  .card__text {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-1);
    color: var(--neutral-color-grayish-blue); }
  .card img {
    align-self: end;
    width: 25%;
    margin-top: 3rem; }
  .card-2 {
    grid-column: 2/3;
    grid-row: 1/2; }
  .card-3 {
    grid-column: 2/3;
    grid-row: 3/4; }
  .card-4 {
    grid-column: 3/4;
    grid-row: 2/3; }
