/*
Front-end Style Guide

Layout
- Mobile: 375px
- Desktop: 1440px

Colors
Primary
- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

Neutral
- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

Typography
- Font size: 15px

Fonts
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600 

*/

:root {
    --primary-color-red: hsl(0, 78%, 62%);
    --primary-color-cyan: hsl(180, 62%, 55%);
    --primary-color-orange: hsl(34, 97%, 64%);
    --primary-color-blue: hsl(212, 86%, 64%);

    --neutral-color-dark-blue: hsl(234, 12%, 34%);
    --neutral-color-grayish-blue: hsl(229, 6%, 66%);
    --neutral-color-light-grey: hsl(0, 0%, 98%);

    --font-size-small: 14px;
    --font-size: 15px;
    --font-size-medium: 18px;
    --font-size-large: 30px;
    --font-family: 'Poppins', sans-serif;
    --font-weight-1: 200;
    --font-weight-2: 400;
    --font-weight-3: 600;


}

.heading-1 {
    font-weight: var(--font-weight-1);
    color: var(--neutral-color-dark-blue);
    font-size: var(--font-size-large);

    &-heavy {
        font-weight: var(--font-weight-3);

        &-small {
            font-size: var(--font-size-medium);
        }
    }


}


.heading-2 {
    font-weight: var(--font-weight-1);
    color: var(--neutral-color-grayish-blue);
    font-size: var(--font-size);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-3);
    line-height: 1.5;
    margin: 5rem;
}

header {
    max-width: 500px;
    text-align: center;
    margin: 2rem auto 0rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, minmax(35rem, 1fr));
    grid-template-rows: repeat(3, minmax(7rem, 1fr));
    justify-items: center;
    max-width: 90vw;
    margin: 0 auto;
    position: relative;
    padding: 0;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    padding: 3rem 5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 20px var(--neutral-color-grayish-blue);
    font-size: 1.5rem;



    &__text {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-1);
        color: var(--neutral-color-grayish-blue);
    }

    & img {
        width: 25%;
        margin-top: 3rem;
    }

    &-1 {
        border-top: 3px solid var(--primary-color-cyan);
        grid-row: 2/3;

    }


    &-2 {
        border-top: 3px solid var(--primary-color-red);
        grid-column: 2/3;
        grid-row: 1/2;
        position: absolute;
        top: 9rem;
    }

    &-3 {
        border-top: 3px solid var(--primary-color-orange);
        grid-column: 2/3;
        grid-row: 3/4;
        position: absolute;
        top: -9rem;
    }

    &-4 {
        border-top: 3px solid var(--primary-color-blue);
        grid-column: 3/4;
        grid-row: 2/3;
    }
}



@media only screen and (max-width: 500px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 365px) {}